.logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}
body.dark .logo img {
  filter: brightness(100%);
}

.logo_header {
	width: 6rem;
	height: 3rem;
}

.nav_link {
	color:black;
	font-weight: 400;
}
.nav_link:hover {
	text-decoration: none;
	color: purple;
	border-bottom: solid 1px purple;
}

.nav_links_div {
	width: 50%;
    display: flex;
    justify-content: space-around;
}

.navigation-wrap {
	position: sticky;
}